body{
    margin: 0;
    padding: 0;
    width: 100%;
    }
    h1 {
    font-family:"Arvo";
    font-weight:normal;
    font-size: 55px;
    text-align: center;
    color: #004d00;
    margin: 0;
    padding: 0;
    }
    h2 {
    font-family:"Arvo";
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    color: #004d00;
    margin: 0;
    padding: 0;
    }
    h3 {
    font-family: Oswald;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    color: #004d00;
    margin: 5px 0;
    padding: 0;
    z-index: 1;
    position: relative;
    }
    h4 {
        font-family: Oswald;
        font-weight: normal;
        font-size: 16px;
        text-align: center;
        color: #004d00;
        margin: 5px 0;
        padding: 0;
        z-index: 1;
        position: relative;
    }

    .center { margin: 0 auto; }
    .content{ margin: 0 auto; width: 960px; }
    .clear { clear: both; }


    #header {
        width: 100%;
        background: url('../img/header.png');
        height: 80px;
        position: fixed;
        margin-top: 30px;
        }
    #nav { width: 410px; float: right; margin-top: 20px; }
    #logo a { color: #fff; text-decoration: none; float: left; font-size: 30px; margin-top: 20px; color: #fff; font-family:"Wellfleet"; font-weight: bold; }
    #nav ul{
        list-style: none;
        display: block;
        margin: 0 auto;
        list-style: none;
        }
    #nav li{
        margin-top: 9px;
        float: left;
        padding-left: 21px;
        }
    #nav li a { color: #fff; opacity:0.6; font-size: 16px; text-decoration: none; font-family: 'Wellfleet'; }
    #nav li a.active { color: #fff; opacity:1; border-bottom: 2px solid #fff; }
    #nav li a:hover { color: #fff; opacity:1; }